html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(20, 20, 20, 1);
}

body {
  display: flex;
  flex-direction: column;
}

#hud {
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 1.5em;
  background-color: rgba(1, 4, 75, 0.5);
}

.button {
  background-color: #000000;
  border: 2px solid #524983;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #524983;
  color: white;
}

#hud span.field {
  padding-right: 0.5em;
  display: inline-block;
}

#hud span.value {
  font-size: 2.0em;
}

#hud span.value_small {
  font-size: 1.0em;
  padding-left: 0.1em;
}

.parent {
  cursor: default;
  padding: 2rem 2rem;
  text-align: center;
}

.child {
  color: #B0B0B0;
  display: inline-block;
  padding: 1rem 1rem;
  align-content: space-between;
  vertical-align: middle;
  background-color: #011E3B;
  border: 1px outset #000000;
}

.innerparent {
  text-align: center;
}

.label {
  color: #B0B0B0;
  text-align: left;
  vertical-align: middle;
  font-size: 1.4rem;
}

textarea {
  cursor: text;
  text-decoration: none;
  color: #B0B0B0;
  background-color: #000;
  width: 100%;
  height: 80px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: both;
  overflow: auto;
}

textarea::placeholder {
  font-size: 18px;
  color: #524983;
}

.topParent {
  padding: 1rem 1rem;
  text-align: center;
}

.topChild {
  color: #B0B0B0;
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

#airerr,
#meterr,
#skyerr {
  color: #FFAA6F;
}

#about {
  position: relative;
  top: 5px;
  right: 20px;
  text-align: right;
}

#about a {
  font-size: medium;
  color: #BCC0E3;
  text-decoration: none;
  font-family: monospace;
}