html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(3, 5, 38, 1);
}

body {
  display: flex;
  flex-direction: column;
}

#hud {
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.6);
}

.button {
	background-color: #000000;
	border: 2px solid #524983;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	margin-top: 10px;
	margin-bottom: 2px;
	margin-right: 2px;
	margin-left: 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #524983;
  color: white;
}

#hud span.field {
  padding-right: 0.5em;
}

#hud span.value {
  font-size: 2.0em;
}

#hud span.value_small {
  font-size: 1.0em;
  padding-left: 0.1em;
}

#teleport-popup p {
  padding: 0.2em;
  margin: 0;
  text-align: center;
}

#teleport-popup p label {
  padding-right: 0.2em;
}

.parent {
  cursor: default;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.child {
  color: #B0B0B0;
  display: inline-block;
  padding: 1rem 1rem;
  margin: 4rem;
  align-content: space-between;
  vertical-align: middle;
  background-color: #011E3B;
  border: 1px dotted #5D7DB0;
}

.innerparent {
  display: grid;
  text-align: left;
  grid-template-columns: 8rem 8rem;
}

.innerchild {
  color: #B0B0B0;
  vertical-align: middle;
}

input[type='textarea'] {
  cursor: text;
  text-decoration: none;
  color: #B0B0B0;
  background-color: #000;
  border: none;
  border-bottom: 1px solid #525252;
  padding-left: 10px;
  font-size: x-large;
}

input[type='button'] {
  cursor: pointer;
  text-decoration: none;
  font-size: x-large;
  color: #B0B0B0;
  border: 1px solid #525252;
  background-color: #000;
  width: 150px;
  height: 50px;
}

.topParent {
  margin: 1rem;
  padding: 1rem 1rem;
  text-align: center;
}

.topChild {
  color: #B0B0B0;
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.embedParent {
  cursor: default;
  margin: 1rem;
  margin-top: 1vh;
  text-align: center;
}

.embedChild {
  color: #B0B0B0;
  display: inline-block;
}

.left {
  grid-column-start: 1;
  grid-column-end: 1;
}

.centerleft {
  grid-column-start: 2;
  grid-column-end: 2;
}

.centeright {
  grid-column-start: 3;
  grid-column-end: 3;
}

.right {
  grid-column-start: 4;
  grid-column-end: 4;
}

.embedLabel {
  color: #B0B0B0;
  text-decoration: underline;
}

#airnavEmbed {
  width: 100px;
}

#airnavEmbedX {
  width: 50px;
}

#airerr, #meterr {
  color: #FFAA6F;
}

iframe {
  width: 40vw;
  height: 50vh;
  border: 1px dotted #5D7DB0;
}

#about {
  text-align: right;
}

#about a{
  font-size: medium;
  color: #BCC0E3;
  text-decoration: none;
  font-family: monospace;
}